.stats_container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_container {
    padding-top: 2.5vw;
}

.handle_input {
    font-family: "Poppins", sans-serif;
}

.submit_button {
    margin-top: 1vw;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.half_chart_container {
    width: 49.5%;
    display: table-cell;
    margin-top: 1vw;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .half_chart_container {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .form_container {
        padding-top: 10vw;
    }

    .submit_button {
        margin-top: 5vw;
    }

    .half_chart_container {
        width: 100%;
        margin-top: 2vw;
    }
}
  