.user_information_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 4vw;
}

@media screen and (max-width: 600px) {
    .user_information_container {
        flex-wrap: wrap;
        margin-top: 7vw;
    }
}