ISR_REVALIDATE_TIME=<Enter time in seconds after which a static page is regenerated. eg. 3600>
CACHE_FRESH_TIME=<Enter time in seconds after which a server-side-generated page is considered to be fresh. eg. 300>
CACHE_REVALIDATE_TIME=<Enter time in seconds after which a server-side generated page is considered stale and is repopulated in the cache. eg. 3600>