.form_container {
    padding-top: 2.5vw;
}

.handle_input {
    font-family: "Poppins", sans-serif;
    margin-top: 1vw;
}

.button {
    margin-top: 1vw;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    .handle_input {
        margin-top: 5vw;
    }
    
    .form_container {
        padding-top: 10vw;
    }

    .button {
        margin-top: 5vw;
    }
}
  