.title {
  font-family: "Poppins", sans-serif;
  font-size: 1vw;
  padding: 2vw;
  font-weight: 700;
}

.table_container {
  margin-top: 1vw;
}

.table_key_cell {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.table_value_cell {
  font-family: "Poppins", sans-serif;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .title {
    font-size: 2vw;
    padding: 4vw;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 2.9vw;
    padding: 5vw;
  }
}
