.links_container {
  justify-content: right;
}

.link_icon {
  margin-right: 0.3rem;
}

.menu_link {
  display: flex;
}

.weighted_link {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.unweighted_link {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
